@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default, dark --prefersdark;
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4B6673;
  --color-secondary: #ffeaa7;
  /* --color-: #2C3A47; */  

}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));




/* globals.css */

/* Text shine gradient effect */
@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.shine-text {
  background: linear-gradient(
    90deg,
    #1e272e 0%,
    #ffffff 50%,
    #1e272e 100%
  );
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: shine 5s linear infinite;
}

